/* ================= OVERLAY ================= */

.modal-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.35);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:999;
}

/* ================= MODAL CONTAINER ================= */

.delete-modal{
  width:498px;
  padding:30px;
  border-radius:var(--radius-xl);
  border:1.5px solid var(--Grey1);
  background:var(--White);
  box-shadow:var(--shadow-lg);

  display:flex;
  flex-direction:column;
  gap:30px;
}

/* ================= HEADER ================= */

.modal-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.modal-header h2{
  font-size:20px;
  font-weight:var(--font-weight-medium);
  color:var(--Text1);
}

/* ================= CLOSE BUTTON ================= */

.close-btn{
  width:22px;
  height:22px;
  border-radius:var(--radius-sm);
  border:1.5px solid var(--Red);
  background:transparent;
  color:var(--Red);
  cursor:pointer;

  display:flex;
  align-items:center;
  justify-content:center;

  transition:all 0.2s ease;
}

.close-btn:hover{
  background:var(--RedPastel);
}

/* ================= DESCRIPTION ================= */

.modal-description{
  font-size:16px;
  line-height:160%;
  color:var(--Text1);
}

/* ================= INPUT ================= */

.delete-input{
  width:100%;
  height:56px;
  border-radius:12px;
  border:1.5px solid var(--Grey1);
  padding:16px;
  font-size:var(--font-size-sm);
  background:var(--White);
  color:var(--Text1);

  transition:border 0.2s ease;
}

.delete-input:focus{
  outline:none;
  border-color:var(--Primary);
}

/* ================= ERROR ================= */

.input-error{
  border:1.5px solid var(--Red);
}

.error-text{
  font-size:13px;
  color:var(--Red);
  margin-top:-18px;
}

/* ================= BUTTON AREA ================= */

.modal-actions{
  display:flex;
  justify-content:flex-end;
  gap:12px;
}

/* ================= CANCEL BUTTON ================= */

.cancel-btn{
  height:40px;
  padding:10px 20px;
  border-radius:var(--radius-sm);
  border:1.5px solid var(--Primary);
  background:var(--White);
  color:var(--Primary);
  cursor:pointer;

  transition:all 0.2s ease;
}

.cancel-btn:hover{
  background:var(--PrimaryPastel);
  color:var(--Primary);
}

/* ================= DELETE BUTTON ================= */

.delete-btn{
  height:40px;
  padding:10px 20px;
  border-radius:var(--radius-sm);
  background:var(--Red);
  color:var(--TextLight);
  border:none;
  cursor:pointer;

  transition:all 0.2s ease;
}

.delete-btn:hover{
  background:var(--RedPastel);
  color:var(--Red);
}