.contact-page {
  padding: var(--cms-page-padding);
  min-height: 100%;
}

/* CARD */

.contact-card {
  width: 100%;
  min-height: 100%;
  background: var(--White);
  border-radius: 20px;
  box-shadow: var(--shadow-lg);
}

/* HEADER */

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 20px;
  border-bottom: 1px solid var(--Grey1);
}

.contact-header h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--Text1);
}

.header-actions {
  display: flex;
  gap: 12px;
}

/* GRID */

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: var(--spacing-lg);
  row-gap: 24px;

  padding: 24px 20px;
}

/* CONTACT DETAILS TITLE */

.section-title {
  grid-column: span 2;

  font-size: 14px;
  font-weight: 500;

  color: var(--Primary);

  border-bottom: 1px solid var(--Grey1);
  padding-bottom: 10px;
}

/* INPUT GROUP */

.input-group {
  position: relative;
  width: 100%;
}

/* INPUT + TEXTAREA */

.input-group input,
.input-group textarea {
  width: 100%;
  height: 56px;

  border-radius: 12px;
  border: 1.5px solid var(--Grey1);

  padding: 16px;
  font-size: var(--font-size-sm);

  background: var(--White);
  color: var(--Text1);

  transition: border 0.2s ease;
}

/* TEXTAREA HEIGHT */

.input-group.textarea textarea {
  height: 129px;
}

.input-group.large textarea {
  height: 160px;
}

/* REMOVE DEFAULT BROWSER OUTLINE */

.input-group input:focus,
.input-group textarea:focus {
  outline: none;
}

/* ACTIVE BORDER */

.input-group:focus-within input,
.input-group:focus-within textarea {
  border: 1.5px solid var(--Primary);
}

/* FLOATING LABEL */

.input-group label {
  position: absolute;
  top: 18px;
  left: 16px;

  font-size: 14px;
  color: var(--Text2);

  background: var(--White);
  padding: 0 4px;

  pointer-events: none;
  transition: all 0.2s ease;
}

/* LABEL ACTIVE */

.input-group:focus-within label,
.input-group input:not(:placeholder-shown) + label,
.input-group textarea:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  color: var(--Primary);
}

@media (max-width: 1024px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .section-title {
    grid-column: span 1;
  }
}